@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8f8ff;
}

html {
    font-size: 16px;
    @screen md {
        font-size: 18px;
    }
}

div,
input,
button,
span,
section,
header,
a,
p {
    @apply transition-colors duration-200;
}

/* .containerSpace{
    @apply mx-auto w-full px-5 md:px-16;
} */
