@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F8F8FF;
}

html {
    font-size: 16px;
    @screen md {
      font-size: 18px;
    }
}

*{
    @apply transition-colors duration-200; 
}

/* .containerSpace{
    @apply mx-auto w-full px-5 md:px-16;
} */